<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9cf6257d-306a-4fbf-afb1-962a9b019817" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9cf6257d-306a-4fbf-afb1-962a9b019817fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
