<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="af99ecb1-8022-453f-b6dc-b0d5df9bc859" name="Project 8 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="af99ecb1-8022-453f-b6dc-b0d5df9bc859fileName">Project-8-TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
